.logo-paint{
    position: absolute;
}

.logo{
    position: relative;
    text-align: center;
    top: 55px;
}

.logo img{
    width: 150px;
    border-radius: 50%;
}

.logo p{
    font-size: 25px;
    margin-top: 10px;
    font-family: cursive;
}